<%= form_for(@user, html: {class: "sky-form boxed"}) do |f| %>
  <header>Novo usuário</header>
	
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>

	<section class="col col-md-6">
  <div class="field">
    <%= f.label :name, "Nome Completo" %><br>
    <label class="input"><%= f.text_field :name, required: true %></label>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <label class="input"><%= f.text_field :email, required: true %></label>
  </div>
  <div class="field">
    <%= f.label :graduation_year, "Ano de Graduação" %><br>
    <label class="input"><%= f.number_field :graduation_year, required: true %></label>
  </div>
 </section>

 <section class="col col-md-6">
 <div class="field">
    <%= f.label :major %><br>
    
		<label class="input"><%= f.text_field :major, required: true %></label>
  </div>
  <div class="field">
    <%= f.label :university, "Universidade" %><br>
    <label class="input"><%= f.select :university, options_for_select(["", "Brown University", "Columbia University", "Cornell University", "Georgetown University", "Georgia Institute of Technology", "Harvard University", "Massachusetts Institute of Technology", "New York University", "Ohio State University", "Pennsylvania State University", "Stanford University", "The University of Chicago", "University of California, Berkeley", "University of California, Davis", "University of California, San Diego", "University of Michigan", "University of Miami", "University of Pennsylvania", "University of Southern California", "University of Virginia", "Yale University", "Worcester Polytechnic Institute", "Other"]) %></label>
  </div>
  <div class="field">
		<div class="col-md-4 col-sm-4 col-xs-4">
			<label class="radio"><%= f.radio_button :gender, "female", checked: true %><i></i>Feminino</label>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<label class="radio"><%= f.radio_button :gender, "male" %><i></i>Masculino</label>
  	</div>
	</div>
  <div class="actions">
    <%= f.button class: "button" do %>
			<i class="fa fa-check"></i>
			Completar Registro
		<% end %>
  </div>
</section>

</fieldset>
<% end %>
