<%= form_for(@user, html: {class: "sky-form boxed"}) do |f| %>
  <header>Novo usuário</header>
	
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>

	<section class="col col-md-4">
  <div class="field">
    <%= f.label :name %><br>
    <label class="input"><%= f.text_field :name %></label>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <label class="input"><%= f.text_field :email %></label>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <label class="input"><%= f.number_field :graduation_year %></label>
  </div>
 </section>

 <section class="col col-md-4">
 <div class="field">
    <%= f.label :major %><br>
    
		<label class="input"><%= f.text_field :major %></label>
  </div>
  <div class="field">
    <%= f.label :university %><br>
    <label class="input"><%= f.text_field :university %></label>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <label class="input"><%= f.text_field :gender %></label>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <label class="input"><%= f.text_field :role %></label>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</section>

</fieldset>
<% end %>
