<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	
	<html> <!--<![endif]-->
		<head>
  		<meta charset="utf-8" />
 
	    <title>Brasa</title>
		  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		  <%= csrf_meta_tags %>
			<%= favicon_link_tag "favicon.ico" %>
		
			<!-- mobile settings -->
			<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />


			<!-- WEB FONTS -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
			
			
			<!-- REVOLUTION SLIDER -->
			<link href="/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/layerslider.css" rel="stylesheet" type="text/css" />
			
			<!-- CORE CSS -->
			<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
			<link href="/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
			<link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

			

			<!-- THEME CSS -->
			<link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
			<link href="/assets/css/header-default.css" rel="stylesheet" type="text/css" />
			
			<!--<link href="/assets/css/layout-dark.css" rel="stylesheet" type="text/css"  />-->


			<!-- Morenizr -->
			<script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>

			<!--[if lte IE 8]>
				<script src="/assets/plugins/respond.js"></script>
			<![endif]-->
        </head>
        <style>
            .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
                background-color: #0d730d;
                border-color: #0d730d;
            }
            #footer .logo_footer {
                text-align: center;

            }

            #footer .dark {
                background-color: #ddd;
            }
            #footer .white {
                color: #333;
            }

            #footer {
                color: #333;
                background-color: #fff;
            }
            #footer a.social {
                background: rgba(0,0,0,0.5);
            }
            #footer h3 {
                color: #333;
            }

            #footer .partner {
                height: 50px;
            }
            .callout.dark.arrow-up {
                padding: 60px 10px;
            }
            section {
                padding: 60px 10px;
            }
            .callout {
                padding: 30px 10px;
            }

            #topBar .container {
                padding-left: 30px;
            }
            .medium_light_white, .small_light_white {
                font-family: "Open Sans";
                font-size: 20px;
            }
            #topBar .logo-header:hover {
                background-color: #fff;
                color: #333;
            }

        </style>
	</head>

	  <body class="smoothscroll">
	
			
	
			<% if notice %>
			  <p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p class="alert alert-danger"><%= alert %></p>
			<% end %>
	
			<div id="wrapper">

				<div id="header"><!-- class="sticky" for sticky menu -->

					<!-- Top Bar -->
					<header id="topBar">
						<div class="container">

							<div class="pull-right fsize13 margin-top10 hide_mobile">

								<!-- mail , phone -->
								<div></div>

								<div class="block text-right"><!-- social -->
									<a href="http://theme.stepofweb.com/Epona/v1.0/HTML/#" class="social fa fa-facebook"></a>
									<a href="http://theme.stepofweb.com/Epona/v1.0/HTML/#" class="social fa fa-twitter"></a>
									<a href="http://theme.stepofweb.com/Epona/v1.0/HTML/#" class="social fa fa-linkedin"></a>
								</div><!-- /social -->

							</div>

							<!-- Logo -->
							<%= link_to root_path, class: "logo logo-header" do %>
								<%= image_tag("logo.png", height: "50") %>
								<span>Brazilian Student Association</span>
							<% end %>
						</div><!-- /.container -->
					</header>
					<!-- /Top Bar -->

				</div>
	
<%= content_for?(:content) ? yield(:content) : yield %>

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">

			<div class="row">

				<!-- col #1 -->
				<div class="logo_footer dark col-md-3">

					<%= link_to root_path, class: "logo-header" do %>
						<%= image_tag("logo.png", height: "60") %>
						<span class="white">BRASA</span>
					<% end %>
					
					<div style="margin-top: 15px"><!-- social -->
						Email: team@brasa.org
					</div><!-- /social -->
				
					
					<div style="margin-top: 8px"><!-- social -->
						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-linkedin"></a>
					</div><!-- /social -->
				</div>
				<!-- /col #1 -->

				<!-- col #2 -->
				<div class="spaced col-md-3 col-sm-4 hidden-xs">
					<h3><strong>Parceiros</strong></h3>
					<%= image_tag "ambev.png", class: "partner", style: "margin-top: 10px;" %>
				</div>
				<!-- /col #2 -->

				<!-- col #3 -->
				<div class="spaced col-md-3 col-sm-4 hidden-xs">
					<%= image_tag "fundacao-estudar.gif", class: "partner" %>
				</div>
				<!-- /col #3 -->

				<!-- col #4 -->
				<div class="spaced col-md-3 col-sm-4">
					<%= image_tag "ene.png", class: "partner" %>

				</div>
				<!-- /col #4 -->

			</div>

		</div>

		<hr />

		<div class="copyright">
			<div class="container text-center fsize12">
				 Copyright &copy; <%= Date.today.year %>, Brazilian Student Association
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->

	<a href="#" id="toTop"></a>

</div><!-- /#wrapper -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="/assets/plugins/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="/assets/plugins/masonry.js"></script>

<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/assets/js/revolution_slider.js"></script>

  </body>
</html>
